
    <nav class="navbar navbar-expand-md navbar-light bg-light  shadow ">
  <a class="navbar-brand" href="/">Crud MongoDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/insertar">Insertar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/api/product">Products</a>
      </li>
     {{#if user}}
   <li class="nav-item">
        <a class="nav-link " href="/users/login">logout</a>
      </li>
       {{else}}
         <li class="nav-item">
        <a class="nav-link " href="/users/login">login</a>
      </li>
       <li class="nav-item">
        <a class="nav-link " href="/users/register">Register</a>
      </li>
     {{/if}}
    </ul>
  
  </div>
</nav>

<style>
  .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}

</style>
