<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD MongoDB</title>

{{>scripts}}
    </head>
{{>navbar}}
    <div class="container" style="margin-top: 50px;">


    <body>

        <!-- Navegacion-->

        <div class="jumbotron">
        <h1 class="display-4">Crud hecho con mongodb y Nodejs</h1>
        <p class="lead">Permitir insertar,borrar y modificar productos de una base de datos por medio de mongodb y handlebars</p>
    </div>
    {{{body}}}

            <!-- Footer o pie de pagina-->

    </body>
        </div>

        {{>footer}}
</html>