
<div style="margin-bottom: 400px;">
  <h1 class="display-1 text-center"> Pagina de Home</h1>
<h2 class="text-center">Empezar a insertar valores a la base de datos:</h2>
  <div class="col text-center">
    <a class="btn btn-primary" href="/insertar"> Ir a instertar valor</a>
    </div>

    </div>
